application: kegbot-emaple-appengine
version: 1-1-alpha
runtime: python27
api_version: 1
threadsafe: true

builtins:
- remote_api: on

inbound_services:
- warmup

libraries:
- name: django
  version: latest

builtins:
- django_wsgi: on

handlers:
- url: /favicon\.ico
  static_files: pykeg/web/static/images/favicon.ico
  upload: pykeg/web/static/images/favicon\.ico
  
- url: /.*
  script: pykeg.web.wsgi_app.app